<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Checkout</title>
</head>
<body>
<div layout:fragment="content" id="payment-page">
    <!-- Hidden divs with data passed from the Express server -->
    <div id="clientKey" class="hidden" th:text="${clientKey}"></div>
    <div id="type" class="hidden" th:text="${type}"></div>

    <!-- Subscription: zero-auth to tokenize card; token is received via RECURRING_CONTRACT webhook. -->
    <div class="container" style="display: block">
        <label>
            <input type="checkbox" id="subscription" name="subscription" />
            Subscribe (5€/month)
        </label>

        <!-- The Checkout integration type will be rendered below.-->
        <!-- Drop-in includes styling out-of-the-box, so no additional styling is needed. -->
        <div class="payment-container">
            <div id="payment" class="payment"></div>
        </div>
    </div>
    <!-- Adyen Component client code -->
    <script type="text/javascript" src="/adyenWebImplementation.js"></script>
</div>
</body>
